<%- include('header'); -%>

    <div class="box" id="heading">
        <h2><%= listTitle %></h2>
    </div>

    <div class="box">
        <% for(var i = 0; i<ToDoitems.length; i++) { %>
            <div class="item">
                <input type="checkbox">
                <p><%= ToDoitems[i] %></p>
            </div>
        <% } %>

        <form class="item" method="POST" action="/">
            <input type="text" name="todo" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %> >+</button>
        </form>
    </div>

<%- include('footer'); -%>